a_yarn_execution_thresholdçselect * from HAASDAP6035_12672.en_yarn_applications_all where th_flag_execution_time = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/yarn_apps_execution_threshold/

a_yarn_app_file_count_thresholdçselect * from HAASDAP6035_12672.en_yarn_job_history where usage_flag_files_produced = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/yarn_app_file_threshold/

a_yarn_cluster_high_usageçselect * from HAASDAP6035_12672.en_cluster_usage_details where th_flag_allocated_vcores = 'red' OR th_flag_pending_container = 'red' OR th_flag_apps_failed = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/yarn_cluster_high_usage/

a_cm_impala_exec_thresholdçselect * from HAASDAP6035_12672.en_impala_execution_details where th_flag_query_state = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/cm_impala_execution_threshold/

a_yarn_pct_apps_failedçselect * from HAASDAP6035_12672.en_yarn_applications_all where timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/yarn_failed_apps_pct/

a_cm_queue_high_usageçselect * from HAASDAP6035_12672.en_cm_container_wise_usage_details where th_flag_allocated_containers = 'red' OR th_flag_allocated_vcores = 'red' OR th_flag_allocated_memory_mb = 'red' OR th_flag_pending_container = 'red' OR th_flag_pending_vcores = 'red' OR th_flag_pending_memory_mb = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/cm_queue_high_usage/

a_fs_small_files_thresholdçselect * from HAASDAP6035_12672.en_filesystem_img_data where th_flag_file_count = 'red' and timestamp > '<alerted_timestamp>'ç/serv/HAASDAP6035_12672/consumption/zither/alerts/oozie_alert_managerç/serv/HAASDAP6035_12672/annotated/zither/alert_attachments/fs_small_files/
