cluster_idçfeed_nameçph_cmdçtemp_dirçparsed_dirçen_dirçctrl_dir

1Dçf_yarn_all_appsçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c001.iuser.iroot.adidom.com:8088/cluster -o ./ziher_yarn_all_apps_1D.htmlç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_all_appsç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_all_apps:raw_yarn_applications_allç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_all_apps:en_yarn_applications_allç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_all_apps

1Eçf_yarn_all_appsçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c015.iuser.iroot.adidom.com:8088/cluster -o ./ziher_yarn_all_apps_1E.htmlç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_all_appsç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_all_apps:raw_yarn_applications_allç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_all_apps:en_yarn_applications_allç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_all_apps

1Dçf_yarn_clusterçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c001.iuser.iroot.adidom.com:8088/ws/v1/cluster/metrics -o ./ziher_yarn_cluster_1D.jsonç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_clusterç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_cluster:raw_cluster_usage_detailsç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_cluster:en_cluster_usage_detailsç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_cluster

1Eçf_yarn_clusterçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c013.iuser.iroot.adidom.com:8088/ws/v1/cluster/metrics -o ./ziher_yarn_cluster_1E.jsonç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_clusterç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_cluster:raw_cluster_usage_detailsç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_cluster:en_cluster_usage_detailsç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_cluster

1Dçf_yarn_job_historyçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c004.iuser.iroot.adidom.com:19888/jobhistory -o ./ziher_yarn_job_history_1D.htmlç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_history_jobsç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_history_jobs:raw_yarn_job_historyç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_history_jobs:en_yarn_job_historyç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_history_jobs

1Eçf_yarn_job_historyçcurl --negotiate -u AI081089:zither_user -X GET http://reha00c016.iuser.iroot.adidom.com:19888/jobhistory -o ./ziher_yarn_job_history_1E.htmlç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/yarn_history_jobsç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/yarn_history_jobs:raw_yarn_job_historyç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/yarn_history_jobs:en_yarn_job_historyç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/yarn_history_jobs

RGçf_cm_queue_usageçcurl -k -u AI081089:zither_user https://rehvl01g013:7183/api/v19/timeseries?query=SELECT+allocated_vcores%2C+pending_vcores%2C+allocated_containers%2C+pending_containers%2C+allocated_memory_mb%2C+pending_memory_mb+WHERE+poolName+RLIKE+%22root.PROD.*%22&from=start_time&to=end_time&contentType=text/csv&desiredRollup=RAW -o ./zither_cm_queue_usage.csvç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/cm_queue/ç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/cm_queue/:raw_cm_container_wise_usage_detailsç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/cm_queue/:en_cm_container_wise_usage_detailsç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/cm_queue

1Dçf_cm_impala_jobsçcurl -k -u AI081089:zither_user https://rehvl01g013:7183/api/v19/clusters/cluster/services/impala/impalaQueries -o ./ziher_cm_impala_jobs_1D.jsonç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/cm_impalaç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/cm_impala:raw_impala_execution_detailsç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/cm_impala:en_impala_execution_detailsç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/cm_impala

1Eçf_cm_impala_jobsçcurl -k -u AI081089:zither_user https://rehvl01g013:7183/api/v19/clusters/cluster2/services/impala/impalaQueries -o ./ziher_cm_impala_jobs_1E.jsonç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/cm_impalaç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/cm_impala:raw_impala_execution_detailsç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/cm_impala:en_impala_execution_detailsç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/cm_impala

1Dçf_hdfs_fs_dataçhdfs oiv -p Delimited -delimiter "," -i <input_file> -o <output_file>ç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/fs_image/1Dç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/fs_image:raw_filesystem_img_dataç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/fs_image:en_filesystem_img_dataç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/fs_image

1Eçf_hdfs_fs_dataçhdfs oiv -p Delimited -delimiter "," -i <input_file> -o <output_file>ç/serv/HAASDAP6035_12672/landing/zither/feeds/temp/fs_image/1Eç/serv/HAASDAP6035_12672/annotated/zither/feeds/parsed/fs_image:raw_filesystem_img_dataç/serv/HAASDAP6035_12672/consumption/zither/feeds/enriched/fs_image:en_filesystem_img_dataç/serv/HAASDAP6035_12672/landing/zither/feeds/success_control_files/fs_image
